/* font-family: 'Clash Display', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
main{
    width: 100%;
    min-height: 100vh;
    padding: 0 3vw;
}
nav{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: salmon; */
}
.nl a:hover{
    font-weight: 500;
    transition: all ease 0.3s;

}
.nl{
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nl a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    transition: all ease 0.3s;
}
.nm{
    position: relative;
    width: 14%;
    height: 2vw;
    margin-left: -4vw;
    text-align: center  ;
    overflow: hidden;
    /* background-color: yellow; */
}
.nm:hover h2{
    transform: translateY(-50px);
   transition: all ease 0.7s;
   cursor: pointer;

}
.nm:hover h3{
   transform: translateY(-50px);
   transition: all ease 0.7s;
   cursor: pointer;
}
h3{
    white-space: nowrap;
    font-weight: 600;
    transition: all ease 0.7s;
}
.nm h2{
    font-weight: 700;
    transition: all ease 0.7s;

}
.nr{
    width: 11%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nr i{
  font-size: 24px;
  cursor: pointer;
}
.profile{
    width: 40px;
    height: 40px;
    /* background: #000; */
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    cursor: pointer;
}
.page1{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    /* overflow: hidden; */
}
.pg1-content{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: black; */
}
.pg1l{
    width: 55%;
    height: calc(100vh - 7vw);
    margin-top: 1.1vw;
    margin-right: 1vw;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: burlywood; */
}
.pg1r{
    width: 45%;
    height: calc(100vh - 6vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pg1r h3{
    z-index: 1;
    font-size: 2.2vw;
}
.pg1r-p1{
    position: relative;
    width: 100%;
    height: 25%;
    /* background-color: antiquewhite; */
}
.pg1r-p1 h1{
    font-size: 4.5vw;
    margin-left: 1vw;
}
.pg1r-p1 p{
    position: absolute;
    right: 0;
    bottom: -9%;
    width: 65%;
    font-size: 12px;
}
.pg1r-p2{
    color: white;
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: blanchedalmond; */
}
.pg1r-p2a{
    position: relative;
    width: 45%;
    height:85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: red; */
}
.pg1r-p2a img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:50% 30%;
    transition: all 0.3s ease;
}
.pg1r-p2b{
    position: relative;
    width: 45%;
    height:85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;    
    /* background-color: yellow; */
}
.pg1r-p2b img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    transition: all 0.3s ease;
}
.pg1r-p3{
    position: relative;
    color: white;
    width: 95%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}
.pg1r-p3 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 35%;
    transition: all 0.3s ease;
}
.pg1r-p3:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.pg1r-p2a:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.pg1r-p2b:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Swiper code */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  .swiper-slide:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* page2 code */
.page2{
    position: relative;
    padding-top: 2vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
}
.page2 .h1{
    width: 65%;
    text-align: center;
    overflow: hidden;
    /* background-color: red; */
}
.page2 h1{
    line-height: 9vw;
    text-shadow: 1px 1px 2px #000;
}
.page2 .first{
    font-size: 12vw;
    font-weight: 600;
    letter-spacing: 5px;
}
.page2 .second{
    font-size: 6.5vw;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.page2 .third{
    font-size: 6vw;
    font-weight: 600;
    line-height: 5vw;
    
}
.page2 a{
    margin-top: 5vw;
    padding: 8px 36px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius:20px;
    transition: all 0.1s ease;
}
.page2 a:hover{
    font-weight: 500;
    transition: all 0.1s ease;
}
.page2 p{
    width: 35%;
    font-size: 14px;
    /* margin-top: 7vw; */
    align-self: flex-start;
}
.pg2-img-div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* background-color: red; */
}
.pg2-img1{
    width: 27%;
    height: 60%;
    background-color: yellow;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}
.pg2-img2{
    width: 27%;
    height: 80%;
    background-color: yellow;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}
.pg2-img3{
    width: 27%;
    height: 100%;
    background-color: yellow;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}
.page2 > i{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5vw;
    animation: downArrow 1s infinite;
}

@keyframes downArrow {
    0%{
        bottom: 5%;
    }
    50%{
        bottom: 2%;
    }
    100%{
        bottom: 5%;
    }
}

.page3{
    padding-top: 2vw;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: burlywood; */
}

.pg3p1{
    width: 5%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */

}
.pg3p1in{
    overflow: hidden;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: salmon; */
    animation: sale 23s linear infinite;
}
.pg3p1in .sale{
    transform: rotate(-90deg);
}

@keyframes sale {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.pg3p2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(73, 230, 21); */

}
.pg3p2a{
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.pg3p2a1{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg3p2a2{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg3p2b{
    padding-bottom: 1vw;
    padding-top: 0.5vw;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.pg3p2b1{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg3p2b2{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.imgcard{
    position: relative;
    width: 100%;
    height: 85%;
    overflow: hidden;
    border-radius: 5px;
    /* background-color: yellow; */
    transition: all 0.3s ease;
}
.imgcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}
.imgcard:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.pricetag{
    position: absolute;
    color: aliceblue;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 1px;
    bottom: 0;
    width: 85px;
    height: 35px;
    border-top-right-radius: 5px;
    background-color: black;
}
.buynow-div{
    width: 100%;
    height: 15%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    /* background-color: salmon; */
}
.buynow-div a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 1px solid black;
    padding: 1px 20px;
    border-radius: 5px;
}
.buynow-div a:hover{
    font-weight: 500;
}
.pg3p3{
    text-align: center;
    padding-top: 1vw;
    width: 45%;
    height: 100%;
    /* background-color: rgb(43, 156, 86); */
}
.pg3p3 h1{
  font-size: 4.4vw;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}
.pg3p3 h1 span{
    font-weight: 500;
  font-size: vw;
}
.pg3p3 p{
  width: 98%;
  font-size:14px;
  margin: 6vw 0;
}
.pg3p3 a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin: 6vw 0;
    transition: all 0.3s ease;
}
.pg3p3 a:hover{
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

/* page4 code */
.page4{
    padding-top: 2vw;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: burlywood; */
}
.pg4p1{
    text-align: center;
    padding-top: 1vw;
    width: 45%;
    height: 100%;
    /* background-color: rgb(44, 156, 86); */
}
.pg4p1 h1{
  font-size: 4.4vw;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}
.pg4p1 h1 span{
    font-weight: 500;
  font-size: vw;
}
.pg4p1 p{
  width: 98%;
  font-size:14px;
  margin: 6vw 0;
}
.pg4p1 a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin: 6vw 0;
    transition: all 0.3s ease;
}
.pg4p1 a:hover{
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.pg4p2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(73, 230, 21); */

}
.pg4p2a{
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.pg4p2a1{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg4p2a2{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg4p2b{
    padding-bottom: 1vw;
    padding-top: 0.5vw;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.pg4p2b1{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg4p2b2{
    width: 40%;
    height: 95%;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: #853030; */
}
.pg4p3{
    width: 5%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */

}
.pg4p3in{
    overflow: hidden;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: salmon; */
    animation: sale 23s linear infinite;
}
.pg4p3in .sale{
    transform: rotate(90deg);
}

@keyframes sale {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* page5 code */

.page5{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: salmon; */
}
.pg5-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    /* z-index: 1; */
    background-color: aliceblue;
}
.pg5-content h1{
    margin: 1.5vw;
    font-size: 4.4vw;
    font-weight: 600;
}
.pg5-content h1:last-child{
    margin: 1.5vw;
    font-size: 4.4vw;
    font-weight: 600;
    width: fit-content;
    margin: 2vw auto;
    background-color: black;
    padding: 0 2vw;
    border-radius: 5px;
    color: aliceblue;
}
.pg5-content h2{
    margin: 2vw;
}
.pg5-content a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 32px;
    margin: 2vw;
    transition: all 0.3s ease;
}
.pg5-content a:hover{
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.abovefooter{
    width: 100%;
    height: 22.5vw ;
    /* background-color: #000; */
}
footer{
    width: 100%;
    height: 30vw;
    /* background: rgb(70, 118, 159); */
}
.f1{
    width: 100%;
    height: 80%;
    display: flex;
    /* background-color: yellow; */
}
.fl{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* z-index: 2; */
    cursor: pointer;
    /* background-color: red; */
}

.fl h2{
    opacity: 0;
    letter-spacing: 5px;
    transition: all 0.3s ease;
    /* background-color: yellow; */
}
.fl:hover h2{
    opacity: 1;
    transition: all 0.3s ease;
}
.fl h1{
    font-size: 10vw;
    font-weight: 600;
    line-height: 8vw;
    /* background-color: #fff; */
}
.fm{
    width: 55%;
    height: 100%;
    display: flex;
    /* background-color: rgb(112, 83, 83); */
}
.fm h4{
    font-weight: 500;
    transition: all 0.3s ese;
}
.fm h4:hover{
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ese;
}
.fm1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(112, 83, 83); */
}
.fm2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(112, 83, 83); */
}
.fr{
    width: 25%;
    height: 100%;
    /* background-color: rgb(179, 147, 147); */
}
.fr1{
    width: 100%;
    height: 80%;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.fr1 a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 70px;
    margin: 0.8vw;
    transition: all 0.3s ease;
}
.fr1 a:hover{
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.fr2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fr2 i{
    font-size: 30px;
    transition: all 0.3s ease;
}
.fr2 i:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.f2{
    padding: 1vw;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(149, 149, 49); */
}